<div ng-controller="heatmapController">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Search History</a></li>
    <li class="breadcrumb-item" ng-repeat="term in breadCrumbs">
    	<a ngHref="#" ng-click="clickBreadCrumb(term)">{{term.word}}</a>
	</li>
</ol>

<div class="container-fluid">
    <div class="row">
<button id="clearHistory" type="button" class="btn btn-secondary" ng-click="clearHistory()">Clear History
</button>
<button id="backButton" type="button" class="btn btn-secondary" ng-click="backToSearchPage()">Back to Search Page
</button>        
</div>

    <div class="row">
        <form class="searchtop" ng-submit="page2Submit(searchInput)">
        <!-- <div class="form-group"> -->
        		<div class="col-md-6 pad">
            		<input type="text" class="form-control" ng-model="searchInput" placeholder="Search">
        		</div>
        		<div class="col-md-2 pad">
            		<input type="submit" class="form-control">
            	</div>
        <!--<button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Submit
        </button>-->
    	</form>
    </div>
    <div id="heatmapsection">
        <div class="row">
            <div class="col-xs-1"><span class="label label-default">Start Date:</span></div>
            <div class="col-xs-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate.name" ng-model-options="{timezone: 'utc'}"
                           is-open="popup1.opened" datepicker-options="dateOptions1" close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="col-xs-1"><span class="label label-default">End Date:</span></div>
            <div class="col-xs-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate.name" ng-model-options="{timezone: 'utc'}"
                           is-open="popup2.opened" datepicker-options="dateOptions2" close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
             <button id="resetHeatMap" type="button" class="btn btn-secondary col-xs-2" ng-click="resetHeatMap()">Reset</button>
            
        </div>

        <div >

            <heat-map id="heatmapdir" val="val" start-date="startDate" end-date="endDate" 
            filter-from-date="filterFromDate" filter-to-date="filterToDate" match-term="matchTerm"
            search-input="searchInput" reset-map="resetMap">
            </heat-map>
        </div>
    </div>

    <div id="visit-note" class="row">
        <div id="visit-note-list" class="col-xs-6">
            <h6>Visit Note List</h6>
            <form>
        				<div class="col-xs-6">
            				<input type="text" class="form-control visitListInput" ng-model="visitListInput" placeholder="Search">
        				</div>
        				<button id="resetVisitList" type="button" class="btn btn-secondary col-xs-2" ng-click="resetVisitList()">Reset</button>
    		</form>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-default">
                <tr>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Provider</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="visitNote in filteredVisitNotes = (visitNotes | orderBy: 'date' | dateRangeAndTerm: filterFromDate : filterToDate : matchTerm | filter:visitListInput | uniqueNotes) | limitTo:2:2*(currentPage-1)" ng-click="selectNote()">
                    <td>{{visitNote.date | date:'mediumDate'}}</td>
                    <td>{{visitNote.diagnosis}}</td>
                    <td>{{visitNote.provider}}</td>
                    <td>{{visitNote.location}}</td>
                </tr>
                </tbody>
            </table>
            <div uib-pagination 
	  			boundary-links="true"
                direction-links="true"
                rotate="false"
                total-items="filteredVisitNotes.length"
                ng-model="currentPage"
                class="pagination-sm pag"
                items-per-page="2"
           		first-text="<<"
                previous-text="<"
                next-text=">"
                last-text=">>">
    		</div>
        </div>

        <div id="visit-note-rendering" class="col-xs-6">
            <h6>Visit Note Rendering</h6>
           		<render-note id="renderVisitNote" note-rendering="noteRendering"/>
        </div>
    </div>
</div>
</div>