
#footer{
	position:fixed;
	bottom:0px;
}

div.doc-viewer {
    width: 48%;
    height: 600px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-x: hidden;
    float:left;
    background:white;
}

#conceptTypeSections{
    width: 48%;
    height: 1000px;
    border: 1px solid #ccc;
    padding: 5px;
    float:left;
    background:white;
}

#conceptTypeTabs {
  border-bottom: 1px solid #1aac9b;
  font-size: 0.8em;
  margin: 10px auto 7px auto;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid navy;
  width: 99%;
}
#conceptTypeTabs ul, conceptTypeTabs li {
  display: inline;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

#conceptTypeTabs a:link, #conceptTypeTabs a:visited {
  border: 1px solid navy;
  font-size: small;
  font-weight: bold;
  margin-right: 8px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  color: navy;
  background: #E0E0F0;
}

.concept-table :hover{
	background-color:lightgray;
}

span.mention-type-problem {
  margin: 5px;
  margin-left:0px;
  font-family: "arial";
  font-size: 20px;
  color: rgb(190, 53, 90)
}


span.mention-type-test {
	margin: 5px;
	margin-left:0px;
  font-family: "arial";
  font-size: 20px;
  color: rgb(17, 76, 126)
}

span.mention-type-treatment {
  margin: 5px;
  margin-left:0px;
  font-family: "arial";
  font-size: 20px;
  color: rgb(33, 119, 67)
}

.table-mention{
	text-decoration:underline;
}

.table-mention:hover {
	text-shadow:0px 0px 1px gray;
	cursor: pointer; 
	cursor: hand; 
}

.table-date:hover {
	text-shadow:0px 0px 1px gray;
	cursor: pointer; 
	cursor: hand; 
}


table.datatable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table.dataTable.hover tbody tr:hover{
	background-color:yellow;
}

tr.even {
	background-color:lightblue;
}


div.doc-key {
	text-align: right;
}

#doc-table {
	width=100%;
}

span.not-colored{
	color:grey;
}

div.search-history {
	text-align: left;
	float:left;
}

#search--items span {
	color:navy;
	font-size:14px;
}

#search-history-items span {
	color:navy;
	font-size:14px;
}

#search-history-items span:hover {
	text-shadow:0px 0px 1px lightgray;
	cursor: pointer; 
	cursor: hand; 
}

#history-and-key button{
	margin-bottom:5px;
}

#doc-date {
	color:navy;
	font-size:16px;
}


#conceptTabs{
    width: 48%;
    height: 500px;
    border: 1px solid #ccc;
    padding: 5px;
    float:left;
    background:white;
}

table th, table td {
  padding: 0px 0px;
  font-size: 12px;
  }
  
#tabs-and-doc{
	position:relative;
	top:25px;
}

#tag-cloud{
	border: 1px solid green;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
}
#tag-cloud span:hover{
	text-shadow:0px 0px 1px lightgray;
	cursor: pointer; 
	cursor: hand; 
}

.highlighted-mention{
	background-color: rgb(157, 198, 245);
}

.highlighted-document{
	background-color: rgb(163, 236, 227) !important;
}

#report-problem{
	float:right;
	position:relative;
	top:20px;
}